{% extends "base.html" %}

{% block content %}
    <h1> Borrowed catalogs</h1>

    <div class = "container">

    {% if catalogcase_list %}
    
      {% for catalogcase in catalogcase_list %} 
      <div class="{% if catalogcase.is_overdue %}text-danger{% endif %}">
        <a href="{% url 'catalog-detail' catalogcase.catalog.pk %}">{{catalogcase.catalog.title}}</a> ({{ catalogcase.due_back }})        
      </div>
      {% endfor %}
 

    {% else %}
      <p>No catalogs.</p>
    {% endif %}
    </div>       
{% endblock %}

