{% extends "base.html" %}

{% block content %}
  <h1>Welcome</h1>

  <div class="container">
    <p><strong>Books:</strong> {{ num_books }}</p>
    <p><strong>Book Copies:</strong> {{ num_instances }}</p>
    <p><strong>Book Copies available:</strong> {{ num_instances_available }}</p>
    <p><strong>Authors:</strong> {{ num_authors }}</p>
    <p><strong>Catalogs:</strong> {{ num_catalogs }}</p>
    <p><strong>Catalog Copies:</strong> {{ num_cases }}</p>
    <p><strong>Catalog Copies available:</strong> {{ num_cases_available }}</p>
  </div>
  <br>
{% endblock %}